.container {
  position: relative;
  width: 100%;
}

.container a{
color:white;
text-decoration: none;
}

.container > img {
  width: 100%;
}

.gridContainer {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr 1fr 0.9fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 0.2fr 0.8fr 30px 250px 1fr 0.8fr 2.6fr;
  grid-gap: 5px 5px;
  gap: 5px 5px;
  grid-template-areas:
      ". . . . . . . . ."
      ". . . . . . menu logo ."
      ". . . . . . . . ."
      ". heroImg heroImg heroImg . title title title ."
      ". heroImg heroImg heroImg subTitle subTitle subTitle subTitle ."
      ". heroImg heroImg heroImg stores stores stores stores ."
      ". . . . . . . . .";
}
.logo {
  grid-area: logo;
  justify-self: end;
  align-self: center;
}
.menu {
  grid-area: menu;
}
.title {
  grid-area: title;
  color: white;
  font-size: 82px;
  align-self: center;
  text-align: end;
}
.subTitle {
  grid-area: subTitle;
  text-align: end;
  color: white;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 20px;
}
.heroImg {
  grid-area: heroImg;
}
.heroImg > img {
  width: 100%;
  height: 100%;
}
.stores {
  margin-top: 20pxS;
  grid-area: stores;
  align-self: center;
  display: flex;
  text-align: end;
  align-items: center;
  justify-content:space-between ;
  gap: 10px;
}

.stores img{
  width: 25%;
}

@media all and (-ms-high-contrast: none) {
  .gridContainer {
    display: -ms-grid;
    -ms-grid-columns: 3.8fr repeat(7, 0.6fr) 1fr;
    -ms-grid-rows: 0.2fr 0.8fr 0.7fr repeat(3, 1fr) 0.6fr 2.7fr;
    gap: 5px 5px;
  }

  .logo {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 8;
    -ms-grid-column-span: 6;
  }

  .menu {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
  }

  .title {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
  }

  .subTitle {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }

  .heroImg {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 0;
  }

  .stores {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
  }
}

@media(max-width:1250px){
  .title {
    font-size: 60px;
  }
  .subTitle {
    font-size: 25px;
  }
}
