.menuContainer {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr; */
  /* grid-gap: 10px 0px; */
  /* gap: 10px 0px; */
  grid-template-areas: "sub3 sub2 sub1";
  justify-content: space-between;
  align-items: center;
  height: 100%;s:
      "sub3 sub2 sub1";
  }

.sub1 { grid-area: sub1; }
.sub2 { grid-area: sub2; }
.sub3 { grid-area: sub3; }

@media all and (-ms-high-contrast: none) {
  .sub1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .sub2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }

  .sub3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}
